* {
  margin: 0;
  padding: 0;
  color: #68554f;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

html {
  font-size: 20px;
}

html,
body,
main {
  height: 100%;
}

body {
  padding: 2rem;
  background: linear-gradient(130deg, #eee3cb, #f8efd8);
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

/* header */

.nav {
  margin: 0 auto;
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 0.5fr 0.5fr;
}

.monthNav {
  margin-top: 3rem;
}

.btn {
  min-width: 3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  min-height: 2rem;
  text-align: center;
  width: min-content;
  align-self: center;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.25s;
  border: 2px solid #68554f;
  background-color: rgba(0, 0, 0, 0);
}

#btn-month,
#btn-prev-month {
  justify-self: end;
}

.btn:hover {
  box-shadow: 0 0 3px 3px rgba(104, 85, 79, 0.4);
  background-color: rgba(104, 85, 79, 0.2);
}

.list {
  gap: 0.5rem;
  display: grid;
  margin: 1rem auto;
  grid-template-columns: repeat(7, auto);
}

.list li {
  width: 100%;
}

.curDay {
  background-color: #00ffff;
}

.curDay:hover {
  background-color: #00ffff;
  box-shadow: 0 0 3px 3px rgba(0, 255, 255, 0.4);
}

@media (max-width: 580px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  body {
    padding: 1rem;
  }
  .btn {
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
}
